<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>chat app</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
    <header>
      <h1>Chat App</h1>
      <h3><a href="/">Messages</a></h3>
    </header>

    <section class="container">
      <form id="my-form" action="/mess" method="POST" onsubmit="localStorage.setItem('username', document.getElementById('username').value)">
        <h1>Enter your Login Id</h1>
        <div>
          <label for="name">Username:</label>
          <input type="text" id="username" name="username">
        </div>
        <input class="btn" type="submit" value="Submit">
      </form>

    </section>
  </body>
</html>